#box-2{
    /* border: 1px solid red; */
    width: 450px;
    margin-top: 212px;
    margin-right: 50px;
    align-content: center;
    flex-direction: column;
}
#box-3{
    margin-top: 50px;
    /* flex-direction: column; */
}
#box-4{
    /* border: 1px solid red; */
    display: flex;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 49px;
    margin-left: 20px;
}
#box-5{
    /* display: flex; */
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    width: 492px;
    height: 72px;
}
#box-6{
    /* display: flex; */
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    width: 492px;
    height: 72px;;
}
#box-7{
    width: 500px;
    padding: 60px 80px;
    background-color: #FCE314;
    border-radius: 24px 0 0 24px;
}
#box-8{
    background-color: #FCE314;
    border-radius: 0 24px 24px 0;
}
/* #box-9 p{
    border: 1px solid red;
    margin-bottom: -50px;
} */
#box-11{
    width: 500px;
    padding: 60px 80px;
    background-color: #17D7FE;
    border-radius: 24px 0 0 24px;
}
#box-15{
    width: 500px;
    padding: 60px 80px;
    background-color: #BAFB00;
    border-radius: 24px 0 0 24px;
}
/* #box-19{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    padding: 23px;
    height: 114px;
    margin-bottom: 10px;
} */