.container{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}
#container-1{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
}
#container-2{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
#container-3{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
}
#container-4{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}
#container-5{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}
#container-6{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
}
#container-7{
    max-width: 1000px;
    margin: 0 auto;
}
#container-8{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
}
#container-9{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 110px;
}
#container-10{
    max-width: 1000px;
    margin: 60px auto 0 auto;;
}