#flex-box-1{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}
#flex-box-2{
    display: flex;
    /* justify-content: space-between; */
}
#flex-box-3{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    flex-wrap: wrap;
}
#flex-box-4{
    display: flex;
    /* flex-wrap: wrap; */
    height: 409px;
}
#flex-box-5{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#flex-box-6{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    height: 409px;
}
#flex-box-7{
    display: flex;
    justify-content: space-between;
}
#flex-box-8{
    display: flex;
    height: 378px;
}
#flex-box-9{
    display: flex;
    justify-content: space-between;
}
#flex-box-11{
    display: flex;
    justify-content: space-between;
}
#flex-box-12{
    display: flex;
    justify-content: space-between;
}