#apple-1{
    /* justify-content: center; */
    /* width: 492px; */
    width: 400px;
    height: 70px;
}
#apple-2{
    /* justify-content: center; */
    /* width: 492px; */
    width: 400px;
    height: 70px;
}
#box-5 img{
    margin-left: 50px;
}
#box-6 img{
    margin-left: 35px;
}