#phone1{
    margin-right: 20px;
    height: 700px;
    margin-top: 58px;
    margin-left: 55px;
}
#phone-2{
    width: 500px;
    border-radius: 0 24px 24px 0;
}
#phone-3{
    width: 264px;
    padding: 50px 116px 0 115px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px 14px 0 0;
}
#phone-4{
    width: 264px;
    padding: 50px 116px 0 115px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px 14px 0 0;
}
#phone-5{
    width: 264px;
    padding: 50px 116px 0 115px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px 14px 0 0;
}
#phone-6{
    width: 500px;
    border-radius: 0 24px 24px 0;
}
#phone-7{
    width: 264px;
    padding: 50px 116px 0 115px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px 14px 0 0;
}
#phone-8{
    width: 264px;
    padding: 50px 116px 0 115px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 14px 14px 0 0;
}